<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SickLeaveScreening.My.MySettings.LeaveFilingConnectionString"
            connectionString="Data Source=192.168.20.230;Initial Catalog=LeaveFiling;Persist Security Info=True;User ID=sa;Password=Nbc12#" />
        <add name="SickLeaveScreening.My.MySettings.NBCTECHDBConnectionString"
            connectionString="Data Source=192.168.20.230;Initial Catalog=NBCTECHDB;Persist Security Info=True;User ID=sa;Password=Nbc12#" />
        <add name="SickLeaveScreening.My.MySettings.LeaveFilingConnectionStringRpt"
            connectionString="Data Source=192.168.20.230;Initial Catalog=LeaveFiling;Persist Security Info=True;User ID=sa;Password=Nbc12#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>